---
import type { ServicioSocial } from "@interfaces/types";

interface Props {
  ofertas: ServicioSocial[];
}

const { ofertas } = Astro.props;
---

<section>
  <h2 id="servicio-social">Servicio Social</h2>
</section>
