---
import type { ServicioSocial } from "@interfaces/types";
import TarjetaOferta from "./tarjeta-oferta.astro";

/*
  Definimos las entradas o inputs del componente.

   Propiedades:
    - ofertas: Contiene la informacion de todas las ofertas del servicio social dentro del laboratorio.
*/
interface Props {
  ofertas: ServicioSocial[];
}
const { ofertas } = Astro.props;
---

<!-- Creamos una seccion para las ofertas de trabajo social -->
<section class="mt-16 section-p-sides">
  <h2 id="servicio-social">Servicio Social</h2>
  <!-- Iteramos sobre cada una de las ofertas y les generamos una tarjeta -->
  <div>
    {ofertas.map((oferta) => <TarjetaOferta oferta={oferta} />)}
  </div>
</section>

<style>
  section {
    background-color: #4f1c51;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
  }

  h2 {
    color: white;
  }

  hr {
    background-color: var(--secondary-color);
  }

  @media (prefers-color-scheme: dark) {
    section {
      background-color: #7e4585a5;
    }
  }
</style>
