---
import type { Miembro } from "@interfaces/types";
// Importamos el componente TarjetaMiembro
import TarjetaMiembro from "./tarjeta-miembro.astro";

/*
  Definimos las entradas o inputs del componente.

  Propiedades:
    - titulo: Contiene el titulo de la seccion ("Academicos", "Alumnos" o "Ex Alumnos").
    - miembros: Contiene la lista de miembros que concuerdan con el estatus ("academico", "alumno" o "exlaumno").
*/
interface Props {
  titulo: string;
  miembros: Miembro[];
}
// Obtenemos la lista de miembros y el titulo de la seccion
const { titulo, miembros } = Astro.props;
---

<!-- Envolvemos el contenido en un contenedor section -->
<section>
  <!-- Creamos un encabezado con el titulo recibido como entrada del componente -->
  <h3>{titulo}</h3>
  <!-- 
    Envolvemos en un div las tarjetas con los miembros, este div se encarga de acomodar las tarjetas segun
    el tamaño de la pantalla del dispositivo
  -->
  <div>
    <!-- Iteramos sobre la lista de miembros y generamos una tarjeta por cada uno -->
    {miembros.map((miembro) => <TarjetaMiembro miembro={miembro} />)}
  </div>
</section>

<style>
  /* 
    Si el ancho de la pantalla es mayor a 480px creamos una cuadricula (grid o grilla) con dos columnas y un espacio
    entre filas y columnas de 16px. Las tarjetas se ordenan en dos columnas y tantas filas sean necesarias.
  */
  @media screen and (width >= 400px) {
    div {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }
  }

  /* 
    Si el ancho de la pantalla es mayor a 700px creamos una cuadricula (grid o grilla) con tres columnas. Las tarjetas 
    se ordenan en tres columnas y tantas filas sean necesarias.
  */
  @media screen and (width >= 700px) {
    div {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  /* 
    Si el ancho de la pantalla es mayor a 920px creamos una cuadricula (grid o grilla) con cuatro columnas. Las tarjetas 
    se ordenan en cuatro columnas y tantas filas sean necesarias.
  */
  @media screen and (width >= 920px) {
    div {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  /* 
    Si el ancho de la pantalla es mayor a 1200px creamos una cuadricula (grid o grilla) con seis columnas. Las tarjetas 
    se ordenan en seis columnas y tantas filas sean necesarias.
  */
  @media screen and (width >= 1200px) {
    div {
      grid-template-columns: repeat(6, 1fr);
    }
  }
</style>
