---
import type { Miembro } from "@interfaces/types";
// Importamos el componente TarjetaMiembro
import TarjetaMiembro from "./tarjeta-miembro.astro";

/*
  Definimos las entradas o inputs del componente.

  Propiedades:
    - titulo: Contiene el titulo de la seccion ("Academicos", "Alumnos" o "Ex Alumnos").
    - miembros: Contiene la lista de miembros que concuerdan con el estatus ("academico", "alumno" o "exlaumno").
*/
interface Props {
  titulo: string;
  miembros: Miembro[];
}
// Obtenemos la lista de miembros y el titulo de la seccion
const { titulo, miembros } = Astro.props;
---

<!-- Envolvemos el contenido en un contenedor section -->
<section>
  <!-- Creamos un encabezado con el titulo recibido como entrada del componente -->
  <h3>{titulo}</h3>
  <!-- 
    Envolvemos en un div las tarjetas con los miembros, este div se encarga de acomodar las tarjetas segun
    el tamaño de la pantalla del dispositivo
  -->
  <div>
    <!-- Iteramos sobre la lista de miembros y generamos una tarjeta por cada uno -->
    {miembros.map((miembro) => <TarjetaMiembro miembro={miembro} />)}
  </div>
</section>

<style>
  h3 {
    text-align: center;
  }

  @media screen and (width >= 400px) {
    div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 16px;
    }
  }
</style>
