---
import type { Miembro } from "@interfaces/types";
import ListaMiembros from "./lista-miembros.astro";

interface Props {
  miembros: Miembro[];
}

const { miembros } = Astro.props;
const miembrosPorCargo = Object.entries(
  Object.groupBy(miembros, ({ estatus }) => estatus),
).toSorted((m1, m2) => m1[0].localeCompare(m2[0]));

const obtenerTitulo = (cargo: string) => {
  if (cargo === "academico") return "Acedémicos";
  else if (cargo === "alumno") return "Alumnos";
  return "Ex Alumnos";
};
---

<section class="mt-32">
  <h2 id="miembros">Miembros</h2>
  {
    miembrosPorCargo.map(([cargo, miembros]) => {
      return (
        <ListaMiembros titulo={obtenerTitulo(cargo)} miembros={miembros} />
      );
    })
  }
</section>
