---
import type { Miembro } from "@interfaces/types";
import ListaMiembros from "./lista-miembros.astro";

/*
  Definimos las entradas o inputs del componente.

  Propiedades:
    - miembros: Contiene la lista de todos los miembros del laboratorio.
*/
interface Props {
  miembros: Miembro[];
}

// Obtenemos la lista de miembros de las entradas del componente
const { miembros } = Astro.props;
// Categorizamos cada miembros segun su estatus (academico, alumno o exalumno)
const miembrosPorCargo = Object.entries(
  Object.groupBy(miembros, ({ estatus }) => estatus),
).toSorted((m1, m2) => m1[0].localeCompare(m2[0]));

/**
 * Esta funcion se encarga de obtener el titulo de la seccion segun el estatus del grupo de miembros
 * estatus "academico" -> "Academicos"
 * estatus "alumno" -> "Alumnos"
 * estatus "exalumno" -> "Ex Alumnos"
 * @param { string } cargo Indica el estatus de los miembros de una lista
 * @returns { string } Contiene el titulo adecuado para la seccion
 */
const obtenerTitulo = (cargo: string): string => {
  if (cargo === "academico") return "Académicos";
  else if (cargo === "alumno") return "Alumnos";
  return "Ex Alumnos";
};
---

<hr class="mt-48" />
<!-- Creamos un seccion principal la cual contendra a las demas secciones con los miembros categorizados por estatus -->
<section class="mt-48 section-p-sides content-section" id="miembros">
  <h2>Miembros</h2>
  <!-- 
    Iteramos sobre el Map con las listas de miembros categorizadas por estatus, donde como clave contiene
    el estatus (academico, alumno o exalumno) y como valor el arreglo de todos los miembros cuyo estatus
    sea el mismo que la clave.

    Enviamos al componente ListaMiembros el titulo que debe poner a la seccion (generado a traves de la funcion
    obtenerTitulo) y la lista de miembros a mostrar
  -->
  {
    miembrosPorCargo.map(([cargo, miembros]) => {
      return (
        <ListaMiembros titulo={obtenerTitulo(cargo)} miembros={miembros} />
      );
    })
  }
</section>

<style>
  hr {
    width: 60dvw;
    border: none;
    height: 2px;
    background: linear-gradient(
      to right,
      var(--surface-color) 0%,
      var(--primary-color) 10%,
      var(--primary-color) 90%,
      var(--surface-color) 100%
    );
    background-size: 100% 100%;
  }
</style>
