<footer>
  <section class="contacto-privacidad flex flex-column gap-32 p-40-72">
    <article>
      <hgroup>
        <h3 translate="no">
          Instituto de Investigación en Matemáticas Aplicadas y en Sistema
        </h3>
        <p translate="no">Universidad Nacional Autónoma de México</p>
      </hgroup>
      <address translate="no">
        <p>
          Circuito Escolar S/N, Ciudad Universitaria, Alcaldía Coyoacán, C.P.
          04510, Ciudad de México
        </p>
        <p>
          Apartado Postal No. 20-126, Alcaldía Álvaro Obregón, C.P. 01000,
          Ciudad de México
        </p>
        <p>
          Teléfono: <a class="no-text-decoration" href="tel:5556223553"
            >55562-23553</a
          >
        </p>
        <p>
          Correo electronico:
          <a class="no-text-decoration" href="mailto:enlace@iimas.unam.mx"
            >enlace@iimas.unam.mx</a
          >
        </p>
      </address>
      <hr />
    </article>
    <article class="flex flex-column gap-16">
      <h3>Información</h3>
      <hr />
      <a
        class="no-text-decoration"
        href="https://www.iimas.unam.mx/avisos-de-privacidad/"
      >
        Avisos de Privacidad
      </a>
      <a
        class="no-text-decoration"
        href="https://www.iimas.unam.mx/protocolos-de-seguridad/"
      >
        Protocolos de Seguridad
      </a>
      <a class="no-text-decoration" href="https://www.iimas.unam.mx/creditos/">
        Créditos
      </a>
      <a
        class="no-text-decoration"
        href="https://www.iimas.unam.mx/wp-content/uploads/2024/02/codigo-etica-unam.pdf"
      >
        Código de Ética
      </a>
    </article>
    <article class="flex flex-column gap-16">
      <h3>Menú de Navegación</h3>
      <hr />
      <a class="no-text-decoration" href="/#quienes-somos">¿Quiénes somos?</a>
      <a class="no-text-decoration" href="/#miembros">Miembros</a>
      <a class="no-text-decoration" href="/#proyectos">Proyectos</a>
      <a class="no-text-decoration" href="/#publicaciones">Publicaciones</a>
      <a class="no-text-decoration" href="/#servicio-social">Servicio Social</a>
    </article>
  </section>
  <section class="copyright">
    <p>
      Hecho en México, IIMAS-UNAM. Todos los derechos reservados 2025. Esta
      página fue diseñada bajo los Lineamientos de Seguridad de la Información
      de Sitios Web de la UNAM 2022, puede ser reproducida con fines no
      lucrativos, siempre y cuando no se mutile, se cite la fuente completa y su
      dirección electrónica, de otra forma, requiere permiso previo por escrito
      de la Institución.
    </p>
  </section>
</footer>

<style>
  footer {
    background-color: #181818;
    width: 100vw;
  }

  .contacto-privacidad {
    align-items: center;
  }

  h3 {
    margin-block-end: 0;
    font-family: "Montserrat", sans-serif;
  }

  h3,
  a:hover {
    color: white;
  }

  hr {
    background-color: #e84e1d;
    width: 100%;
    height: 1px;
    border: 0;
  }

  article {
    width: 100%;
  }

  p,
  a {
    color: #a6ab98;
    font-style: normal;
  }

  .copyright {
    background-color: #202020;
  }

  .copyright p {
    padding: 16px 40px 40px;
    font-size: small;
  }

  @media screen and (width > 700px) {
    .contacto-privacidad {
      flex-direction: row;
      align-items: flex-start;
    }

    article {
      width: 30%;
    }

    .copyright p {
      padding: 16px 80px 40px;
    }
  }
</style>
