---
import type { Proyecto } from "@interfaces/types";
import TarjetaProyecto from "./tarjeta-proyecto.astro";

/*
  Definimos las entradas o inputs del componente.

  Propiedades: 
    - proyectos: Contiene la lista con todos los proyectos realizados por el laboratorio.
*/
interface Props {
  proyectos: Proyecto[];
}

const { proyectos } = Astro.props;
// Ordenamos la lista de proyectos descendentemente (del mas reciente al mas antiguo).
const proyectoPorAntiguedad = proyectos.toSorted(
  (p1, p2) => p2.periodo - p1.periodo,
);
---

<!-- Creamos la seccion de proyectos del laboratorio -->
<section class="mt-48">
  <h2 id="proyectos">Proyectos</h2>
  <ul class="lista-tarjetas">
    <!-- Iteramos sobre la lista de proyectos ordenados por antiguedad y creamos una tarjeta por cada proyecto -->
    {
      proyectoPorAntiguedad.map((proyecto) => (
        <TarjetaProyecto proyecto={proyecto} />
      ))
    }
  </ul>
</section>

<style>
  ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  @media screen and (width > 750px) {
    ul {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (width > 1150px) {
    ul {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
</style>
