/* Definicion de MononokiNerdFont */
@font-face {
  font-family: "MononokiNerdFontBold";
  src: url("/fonts/MononokiNerdFont-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "MononokiNerdFontBoldItalic";
  src: url("/fonts/MononokiNerdFont-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "MononokiNerdFontItalic";
  src: url("/fonts/MononokiNerdFont-Italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "MononokiNerdFont";
  src: url("/fonts/MononokiNerdFont-Regular.ttf") format("truetype");
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MononokiNerdFontBold";
}

.bold {
  font-family: "MononokiNerdFontBold";
}

.italic {
  font-family: "MononokiNerdFontItalic";
}

.bold-italic {
  font-family: "MononokiNerdFontBoldItalic";
}
