---
import { Image } from "astro:assets";

import Bienvenida from "@assets/bienvenida_laboratorio.jpg";
import type { QuienesSomos } from "@interfaces/types";
import Contacto from "./contacto.astro";

interface Props {
  quienesSomos: QuienesSomos;
}
const { quienesSomos } = Astro.props;
---

<article>
  <h2 id="quienes-somos">¿Quiénes somos?</h2>
  <div>
    <Image
      src={Bienvenida}
      alt="Imagen con los integrantes del laboratorio"
      loading="eager"
      widths={[480, 720, 1024, 1600]}
      sizes="(max-width: 600px) 480px, (max-width: 900px) 720px, (max-width: 1300px) 1024px, 1600px"
      format="avif"
    />
    <div>
      {
        quienesSomos.parrafos.map((parrafo) => (
          <p class="primary-font">{parrafo}</p>
        ))
      }
      <h3>Contactanos</h3>
      <address>
        {
          quienesSomos.contactos.map((contacto) => (
            <Contacto contacto={contacto} />
          ))
        }
      </address>
    </div>
  </div>
</article>

<style>
  p {
    text-wrap: balance;
    max-width: 90ch;
  }

  img {
    width: 100%;
    height: auto;
  }

  h3 {
    margin-bottom: 8px;
  }

  address {
    display: flex;
    gap: 16px;
  }

  @media screen and (width >= 920px) {
    article > div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 48px;
    }
  }
</style>
