---
import { Image } from 'astro:assets';
import Bienvenida from '../assets/bienvenida_laboratorio.jpg';

interface Props {
  quienesSomos: string[]
}

const { quienesSomos } = Astro.props;
---

<article>
  <h2 id="quienes-somos">¿Quiénes somos?</h2>
  <div>
    <Image 
      src={Bienvenida} 
      alt="Imagen con los integrantes del laboratorio" 
      loading="eager"
      widths={[480, 720, 1024, 1600]}
      sizes="(max-width: 600px) 480px, (max-width: 900px) 720px, (max-width: 1300px) 1024px, 1600px" />
    <div>
      { quienesSomos.map((parrafo) => (<p class="primary-font">{parrafo}</p>)) }
    </div>
  </div>
</article>

<style>
  p {
    text-wrap: balance;
    max-width: 90ch;
  }

  img {
    width: 100%;
    height: auto;
  }

  @media screen and (width >= 920px) {
    article > div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
    }
  }
</style>
